.head{
    height: 80px;
    line-height: 80px; /*文本垂直居中*/
    background-color:rgba(0, 0, 0, 0.425);
    color: white;
    font-size: 50px;  
}
.sayhi{
    float: right;
}

#hi,#hour{
    float:right;
    width: 150px;
    height: 80px;
    background-color:rgb(36, 104, 66);
    border: none;
    font-size: x-large;
    color: white;
}
#hour{
    background-color:seagreen;
    text-align: center;
}
span{
    font-weight:bold;
}
.bbox{
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    
}
.box{
    width: 100%;
    float: left;
    border: 1px;
    
}
ul{
    list-style-type:none;
    text-decoration: none;
  padding: 1em 2em;
}
li{
    padding-left: 1em;
    float: left;
}
li:nth-of-type(4){
    color: seagreen;
    
}

li:nth-of-type(4){
    display: none;
}
a{
    color: seagreen;
}

.li1{
    width: 100%;
    padding-top: 1em;
}
a:hover{
    color: goldenrod;

}
.left{
    width: 10%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    float: left;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.719);
    background-color:lightgrey;
    

}
.right{
    height: 150px;

    float: left;
    width: 90%;
    text-indent: 2em;
    color: rgba(0, 0, 0, 0.719);
    border-top:1px solid lightgrey;
}
.clearfloat{
    clear:both;
}
/* div高度自适应内部div高度
在div前加一个子div 清除浮动 */
